@import '../../assets/styles/partials/_colors';

.hmmLoader {
    display: flex;
    
    flex: 1;
    align-items: center;
    justify-content: center;

    height: 100%;

    .hmmLoader__icon {
        color: $color-primary;

        width: 3rem;
        height: 3rem;

        animation: spin 2s linear infinite both;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}