@import '../../assets/styles/partials/_colors';
@import '../../assets/styles/partials/_variables';

.hmmFlightTabs {
    text-align: center;
    
    align-items: flex-end;
    margin: 0 -1.6rem 3rem;

    background-color: $color-white;
    box-shadow: 0px 3px 5px -1px rgba($color-black, 0.2);

    @media all and (min-width: $phone-width) {
        align-items: center;
    }

    .hmmFlightTabs__item {
        color: $color-gray;
        font-weight: 900;
        font-size: 1.5rem;

        border-bottom: medium solid $color-transparent;

        padding: 1.5rem 0;

        display: block;
        height: 100%;

        cursor: pointer;

        @media all and (min-width: $phone-width) {
            font-size: 1.9rem;
        }

        .hmmFlightTabs__item__smallText {
            display: block;
        }

        .hmmFlightTabs__item__text {
            display: none;
        }
        
        @media all and (min-width: $phone-width) {
            .hmmFlightTabs__item__smallText {
                display: none;
            }

            .hmmFlightTabs__item__text {
                display: block;
            }
        }

        &.hmmFlightTabs__item--active {
            border-bottom-color: $color-primary
        }
    }
}