@import '../../assets/styles/partials/_colors';
@import '../../assets/styles/partials/_variables';

.bmmFlightItem {
    background-color: $color-white;
    margin: 0 0 1.3rem;

    .bmmFlightItem__cell {
        text-align: center;
        font-size: 1.3rem;

        .bmmFlightItem__cell__title {
            font-weight: 900;
            font-size: 1.8rem;
            text-transform: uppercase;

            display: block;
        }

        .bmmFlightItem__cell__worsePrice {
            text-decoration: line-through;
            font-weight: 700;
            font-size: 1.3rem;
            text-transform: uppercase;

            margin-bottom: 0.8rem;
        }

        .bmmFlightItem__cell__promotion {
            font-weight: 400;
            font-size: 1.3rem;
            text-transform: uppercase;

            display: block;
            margin-top: 0.8rem;

            &.bmmFlightItem__cell__promotion--yellow {
                color: $color-yellow;
                font-weight: 700;
            }
        }
    }
}

.bmmFlightPromotion {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $phone-width) {
        flex-direction: row;
    }
}