@import '../../assets/styles/partials/_colors';

.bmmFlightItem {
    background-color: $color-white;

    .bmmFlightItem__cell {
        text-align: center;

        .bmmFlightItem__cell__title {
            font-weight: 700;
            font-size: 1.8rem;
            text-transform: uppercase;

            display: block;
        }
    }
}

.bmmFlightPromotion {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: 400px) {
        flex-direction: row;
    }
}