@import '../../assets/styles/partials/_colors';

.bmmHeader {
    border-bottom: rgba($color-gray, 0.4) solid thin;
    background-color: $color-white;
    padding: 1.3rem 1.5rem;

    .bmmHeader__logo {
        display: flex;
        align-items: center;

        .bmmHeader__logo__title {
            color: $color-gray;
            font-family: 'Barlow', sans-serif;
            font-weight: 900;
            font-size: 2.1rem;
        }

        .bmmHeader__logo__icon {
            color: $color-primary;
            margin-right: 1.5rem;
        }
    }

    .bmmHeader__options {
        display: none;
        font-size: 1.4rem;

        .bmmHeader__options__icon {
            color: $color-primary;
            margin-right: 1rem;
        }

        @media screen and (min-width: 4.8rem) {
            align-items: center;
            display: flex;
        }
    }
}