@import '../../assets/styles/partials/_colors';

.hmmFlightSort {
    display: flex;
    align-items: center;
    text-align: center;

    .hmmFlightSort__item {
        flex: 1;
        font-family: 'Barlow', sans-serif;
        font-weight: 900;
        font-size: 1.3rem;
        color: $color-white;
    }

    .hmmFlightSort__item__button {
        color: $color-white;
        border-color: $color-white;
    }
}