@import '../../assets/styles/partials/_colors';

.hmmFlightDate {
    padding: 0 1rem 1rem;
    //border-right: solid thin $color-gray;
    
    .hmmFlightDate__label {
        font-style: italic;
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .hmmFlightDate__input {
        border: none;
        outline: none;
        border-bottom: solid thin rgba($color-gray, 0.5);

        color: $color-gray;
        font-size: 1.2rem;
    }

    .hmmFlightDate__form {
        display: flex;
        align-items: center;

        cursor: pointer;

        .hmmFlightDate__form__day {
            margin: 0 10px 0 0;

            color: $color-primary;
            font-weight: 900;
            font-size: 2.5rem;
        }

        .hmmFlightDate__form__month {
            @extend .hmmFlightDate__form__year;
            font-weight: 700;
            text-transform: uppercase;
        }

        .hmmFlightDate__form__year {
            margin: 0;
            font-size: 1.1rem;
        }
    }

    .hmmFlightDate__error {
        background-color: $color-red;
        
        color: $color-white;
        font-size: 1.3rem;
        text-align: center;

        margin-top: 0.5rem;
        padding: 1rem;
        position: absolute;
    }

    .hmmFlightDate__icon {
        color: $color-primary;
        width: 1.8rem;
        height: 1.8rem;
    }
}